// Imports
@import "bourbon/bourbon";

// Home Page
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5);  
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5)
}

/*----------------------------------------------   
--Banner
-----------------------------------------------  */
.sect-banner{
 display: table;
 width: 100%;
 margin: 0 auto;
 text-align: center;

 /*-- Full Height --*/
 height: 100vh;
 color: rgba(255,255,255,0.9);

 /*-- Create an Overlay --*/
 &:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
 }

 /*-- Vertically center --*/
 .v-center{
  display: table-cell;
  position: relative;
  z-index: 1;
  padding: 0 5%;
 }
}

/*----------------------------------------------   
--Keyframes
-----------------------------------------------  */
@include keyframes(fade-out) {
 33%{
  opacity: 1
 }
 66%{
 opacity: 0
 }
}

/*----------------------------------------------   
--List for images, sm and large
-----------------------------------------------  */
ul.kf-slider{
 li{  
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  50%;
  z-index: 0;
  opacity: 0;
  /*-- Add animation --*/ 
  @include animation(fade-out 12s infinite both);
  /*-- Image 1: small --*/ 
  background-image: url(../img/home/mobile/splash1_edit_mobile.jpg);
  @media (min-width: 32em){
   /*-- Image 1: large --*/ 
   background-image: url(../img/home/desktop/splash1_optimized_desktop.jpg);
  }
 }
 /*-- Image 2 --*/ 
 li:nth-child(2){
  background-image: url(../img/home/mobile/splash2_edit_mobile.jpg);
  /*-- Animation delay: 3s --*/ 
  @include animation-delay(4s);
  @media (min-width: 32em){
   background-image: url(../img/home/desktop/splash2_desktop.jpg);
  }
 }
 /*-- Image 3 --*/ 
 li:nth-child(3){
  background-image: url(../img/home/mobile/splash3_edit_mobile.jpg);
  /* Animation delay: 6s */  
  @include animation-delay(8s);
  @media (min-width: 32em){
   background-image: url(../img/home/desktop/splash3_desktop.jpg);
  }
 }
}

// Google Maps
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  border: 1.3px solid black;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

