<!-- Sect: Banner
======================================= --> 
<section class="sect-banner">
  <!--List items for bg images -->
  <ul class="kf-slider">
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <!-- Vertically Center Content -->
  <div class="v-center">
    <div class="col s4 fade-in one">
      <h1>Find Your Path</h1>
    </div>
    <a href="/app"class="waves-effect waves-light btn">Get Started</a>  
  </div>
</section>