{{!-- No Nav for now --}}
{{!-- <nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">JK Landing Page</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Stuff!</a></li>
        <li><a href="#">More Stuff!</a></li>
        <li><a href="#">Woah! Stuff!</a></li>
      </ul>
    </div>
</nav> --}}
<div class="col s12">
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img class="fade-in one responsive-img" src="img/jk_splash.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="img/jk_splash2.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="img/jk_splash3.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="img/jk_splash4.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="img/jk_splash5.jpg"></a>
  </div>
</div>
{{!-- <div class="col s12">
    <img class="fade-in one responsive-img" src="/img/jk_splash.jpg">
</div> --}}


