<div class="col s12">
  <div class="carousel carousel-slider">
    <div class="carousel-item carousel-div one" href="#">
      <div class="row">
        <div class="col s12">
          <h1 style="text-align:center;">Find Your Path</h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12" style="text-align:center">
          <a class="waves-effect waves-light btn valign-wrapper">Get Started</a>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-div two" href="#">
      <div class="row">
        <div class="col s12">
          <h1 style="text-align:center;">Find Your Path</h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12" style="text-align:center">
          <a class="waves-effect waves-light btn valign-wrapper">Get Started</a>
        </div>
      </div>
    </div> 
    <div class="carousel-item carousel-div three" href="#">
      <div class="row">
        <div class="col s12">
          <h1 style="text-align:center;">Find Your Path</h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12" style="text-align:center">
          <a class="waves-effect waves-light btn valign-wrapper">Get Started</a>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-div four" href="#">
      <div class="row">
        <div class="col s12">
          <h1 style="text-align:center;">Find Your Path</h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12" style="text-align:center">
          <a class="waves-effect waves-light btn valign-wrapper">Get Started</a>
        </div>
      </div>
    </div>
    <div class="carousel-item carousel-div five" href="#">
      <div class="row">
        <div class="col s12">
          <h1 style="text-align:center;">Find Your Path</h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12" style="text-align:center">
          <a class="waves-effect waves-light btn valign-wrapper">Get Started</a>
          <img src="img/jk_splash4.jpg" style="visibility: hidden;" />
        </div>
      </div>
    </div>            
  </div>
</div>


