<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">JK Landing Page</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Stuff!</a></li>
        <li><a href="#">More Stuff!</a></li>
        <li><a href="#">Woah! Stuff!</a></li>
      </ul>
    </div>
</nav>
<div class="col s12">
    <img class="fade-in one responsive-img" src="/img/jk_splash.jpg">
</div>


